@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudText>This is the V3 App Template for prions. To do list:</MudText>

<MudTreeView AutoExpand="true" ExpandOnClick="true" T="string" ReadOnly>
    <MudTreeViewItem Text="Infrastructure (completed)" Expanded>
        <MudTreeViewItem Text="MudBlazor w/theme & darkmode" />
        <MudTreeViewItem Text="Auth0 authentication" />
        <MudTreeViewItem Text="Emails" />
        <MudTreeViewItem Text="SQL user system" />
        <MudTreeViewItem Text="Audit Logins" />
        <MudTreeViewItem Text="Timer component" />
        <MudTreeViewItem Text="User Secrets" />
    </MudTreeViewItem>
    <MudTreeViewItem Text="Game structure (completed)" Expanded>
        <MudTreeViewItem Text="Real-time and turn-based play both available" />
        <MudTreeViewItem Text="Game event and display system" />
        <MudTreeViewItem Text="Team build and assign to mercenary missions" />
        <MudTreeViewItem Text="Missions come from liaisons to cities/organizations" />
    </MudTreeViewItem>
    <MudTreeViewItem Text="Game structure (to do)" Expanded> @*if this was for my job I would have to build a timeline for it too lol*@
        <MudTreeViewItem Text="Team management" />
        <MudTreeViewItem Text="Improve UI of grids, include sorting/searching" />
        <MudTreeViewItem Text="Build more & better inspector dialogs" />
        <MudTreeViewItem Text="Assignments basics" Expanded>
            <MudTreeViewItem Text="Client Cities" />
            <MudTreeViewItem Text="Academy" />
            <MudTreeViewItem Text="Defense" />
            <MudTreeViewItem Text="Research" />
        </MudTreeViewItem>
        <MudTreeViewItem Text="Academy accrual buildout" />
        <MudTreeViewItem Text="Bandit attack logic & defenses" />
        <MudTreeViewItem Text="Research magic buildout" />
    </MudTreeViewItem>
</MudTreeView> 
