<MudDialog>
    <DialogContent>
        <MudSimpleTable Striped Bordered>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Skill</th>
                    <th>Power</th>
                    <th>Fatigue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Medic.SoldierName</td>
                    <td>@Medic.Heal</td>
                    <td>@Medic.HealScore</td>
                    <td>@Medic.Medical!.FatigueText</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [Parameter, EditorRequired] public Soldier Medic { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    private void Close()
    {
        MudDialog.Close(DialogResult.Cancel());
    }
}